<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Trang chủ</title>
    <th:block th:replace="base :: bootstrap"></th:block>
</head>
<body>
    <div th:replace="base :: header"></div>
    <main class="container">
        <form th:action="@{/}">
            <div class="mb-3 mt-3">
                <input type="text" class="form-control" name="kw" placeholder="Nhập từ khoá" />
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="mb-3 mt-3">
                        <input type="text" class="form-control" name="fromPrice" placeholder="Giá min" />
                    </div>
                </div>
                <div class="col-6">
                     <div class="mb-3 mt-3">
                        <input type="text" class="form-control" name="toPrice" placeholder="Gía max" />
                    </div>
                </div>
            </div>
            
            <div class="mb-3 mt-3">
                <button class="btn btn-info" type="submit">Tìm kiếm</button>
            </div>
        </form>

        <button class="btn btn-info mt-2 mb-2">Thêm sản phẩm</button>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>id</th>
                    <th>Tên sản phẩm</th>
                    <th>Giá sản phẩm</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                <tr th:each="p: ${products}">
                    <td>
                        <img th:src="${p.image}" width="300"/>
                    </td>
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.name}"></td>
                    <td th:text="${p.price + 'VND'}"></td>
                    <td>
                        <button class="btn btn-danger">&times;</button>
                        <a href="#" class="btn btn-success">✏</a>
                    </td>

                </tr>
            </tbody>
        </table>
    </main>

    <div th:replace="base :: footer"></div>
</body>
</html>

